
      <div class="d-flex">
        <div class="d-flex justify-content-center align-items-center">
          <%= link_to favorite_path(favorite), data: {turbo_method: 'DELETE'}, class: 'btn btn-success rounded-circle d-flex justify-content-center align-items-center m-2', style: 'height: 45px; width: 45px;' do %>
            <i class="fa-regular fa-bookmark fa-xl"></i>
          <% end %>
          <p>Remove from favorites</p>
        </div>
        <%# <%@favorite.create %>
      </div>

      <div class="d-flex">
  <div class="d-flex justify-content-center align-items-center">
    <%= link_to book_path(book, return_to_favorites: true), class: 'btn btn-success rounded-circle d-flex justify-content-center align-items-center m-2', style: 'height: 45px; width: 45px;' do %>
      <i class="fa-regular fa-eye fa-lg"></i>
    <% end %>
    <p>See more details</p>
  </div>
</div>
