
  <%# <div>
    <h1 class ="text-center">favorites list</H1>
  </div> %>

<% if @favorites.first == nil %>
    <div class="text-center">
      <h2> Your list is empty ! </h2>
      <h4> Add some favorite books </h4>

      <%= image_tag "livre.png", class:"rounded mx-auto d-block", alt:"", width: 200 %>
      <div type="browse" class="btn btn-secondary rounded-pill" style="width: 200px; mt-15" >
        <%= link_to 'add favorites', suggestions_path%>
      </div>
    </div>
<%else%>
    <div class="d-flex justify-content-center p-3 mb-2">
      <h1 class="mt-4 mb-4" style="text-align: left; width: 100%;">
        <span style="border-bottom: 10px solid #EFEF24; padding-bottom: 10px;">Favorites</span>
      </h1>
    </div>
    <ul class="nav nav-tabs nav-justified " role="tablist" data-controller="tabs">
    <li class="nav-item " role="presentation">
      <a class="nav-link active " id="justified-tab-0" data-bs-toggle="tab" href="#justified-tabpanel-0" role="tab" aria-controls="justified-tabpanel-0" aria-selected="true" style="color: black;"> To Read 📚 </a>
    </li>
    <li class="nav-item " role="presentation">
      <a class="nav-link" id="justified-tab-1" data-bs-toggle="tab" href="#justified-tabpanel-1" role="tab" aria-controls="justified-tabpanel-1" aria-selected="false" style="color: black;"> Read 📘 </a>

    </li>
  </ul>
  <div class="tab-content pt-5 " id="tab-content">
    <div class="tab-pane active" id="justified-tabpanel-0" role="tabpanel" aria-labelledby="justified-tab-0">
      <% @favorites.where(read: false).each do |favorite| %>
        <%= render "favorite_card", favorite: favorite  %>
      <% end %>
    </div>
    <div class="tab-pane" id="justified-tabpanel-1" role="tabpanel" aria-labelledby="justified-tab-1">
      <% @favorites.where(read: true).each do |favorite| %>
        <%= render "favorite_card", favorite: favorite  %>
      <% end %>
    </div>
  </div>
<%end%>
