button {
  margin: 0px;
  padding: 2px 2px;
  font-size: 16px;
  cursor: pointer;
}

.d-none {
  display: none;
}

#q1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

#q2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

#q3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

.button-answer {
  height: 25vh;
  width: 48vw;
  border-radius: 8px;
}

.btn-back {
  border-radius: 80px;
  background-color: rgb(252, 252, 252);
  color: rgb(5, 2, 2);
  border: solid 1px;
}
