button {
  margin: 0px;
  padding: 2px 2px;
  font-size: 20px;
  cursor: pointer;
}

.d-none {
  display: none;
}

#q1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

#q2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

#q3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

.button-answer {
  height: 25vh;
  width: 48vw;
  border-radius: 8px;
  border-color: white;
}

.btn-back {
  border-radius: 80px;
  background-color: rgb(252, 252, 252);
  color: rgb(5, 2, 2);
  border: solid 1px;
}

.small-text {
  font-size: 0.75rem; /* Taille de police réduite pour le texte */
}

.smaller-result {
  font-size: 1.5rem; /* Taille de police réduite pour les résultats */
}

.equal-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Assure que chaque .counter prend la hauteur totale disponible */
}

.equal-height .counter {
  height: 100%; /* S'assure que chaque .counter prend la hauteur totale disponible */
}

.counter {
  border-radius: 15px;
  border: 1px solid #343a40;
  background-color: #f8f9fa;
  padding: 15px;
}
