.navbar-lewagon {
  justify-content: space-between;
  // background: black;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-top: 2px;
}

.navbar-lewagon .navbar-brand img {
  height: 35px;
  width: 35px;
}

.logo-caption {
  font-size: 10px;
}
.logo-container{
  color: darkgray;
}
/* i {
  color: darkgray;
  font-size: 25px;
}
.logo-caption{
  color: darkgray;
} */
.yellowcolor{
  color:rgb(239, 239, 36);
}
.container-fluid {
  background-color: black;
  border-radius: 20px;
  padding: 5px

}
