// .nav-link.active {
//   text-decoration-style: solid;
//   text-decoration-line: underline;
//   text-decoration-color: rgb(239, 239, 36);
//   text-decoration-thickness: 5px;
// }

.nav-link.active {
border: 5px solid rgb(57, 55, 55) !important;
background-color: rgb(57, 55, 55) !important;
color: #F5C518 !important;
border-radius: 50px ;
}
.nav.nav-tabs{
  margin: 10px;
}
