.roulette {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: 0.5s all;
}
.roulette:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 100%;
  top: 50%;
  left: 50%;
  background: #03A9F4;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
.roulette:hover {
  box-shadow: 0px 50px 90px rgba(0, 0, 0, 0.08);
}
.roulette__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.roulette__prize {
  flex: 0 0 auto;
  margin-right: 10px;
}
.prize-item {
  width: 80px;
  height: 80px;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  line-height: 75px;
  color: #000;
  font-family: 'Roboto';
  font-size: 20px;
}

.prize-item--green     { border-color:#4CAF50 }
.prize-item--yellow    { border-color:#FBC02D }
.prize-item--pink      { border-color:#F06292 }
.prize-item--purple    { border-color:#AB47BC }
.prize-item--teal      { border-color:#4DB6AC }
